<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nosuchteam.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="Product">
    <id column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    `product_id`, `product_name`, `product_type`, `image`, `note`, `status`
  </sql>
  <sql id="tableName">
    `product`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from <include refid="tableName" />
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from <include refid="tableName" />
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Product">
    insert into <include refid="tableName" /> (<include refid="Base_Column_List" />)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="Product">
    insert into <include refid="tableName" />
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Product">
    update <include refid="tableName" />
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Product">
    update <include refid="tableName" />
    set product_name = #{productName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <sql id="conditions">
    <where>
      <if test="productId != '%null%' &amp; productId != '%%' &amp; productId != '' &amp; productId != null">
        product_id LIKE #{productId}
      </if>
      <if test="productName != '%null%' &amp; productName != '%%' &amp; productName != '' &amp; productName != null">
        AND product_name LIKE #{productName}
      </if>
      <if test="productType != '%null%' &amp; productType != '%%' &amp; productType != '' &amp; productType != null">
        AND product_type LIKE #{productType}
      </if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM <include refid="tableName" />
    <include refid="conditions" />
    <if test="limit != null &amp; limit >= 1">
      LIMIT #{limit}
    </if>
    <if test="offset != null &amp; offset >= 0">
      OFFSET #{offset}
    </if>
  </select>
  <select id="count" resultType="_int">
    SELECT COUNT(*)
    FROM <include refid="tableName" />
    <include refid="conditions" />
  </select>
</mapper>