<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.nosuchteam.bean"></package>
    </typeAliases>


    <mappers>
        <!--会自动的把该包下面的所有的接口对应的同名的mapper映射文件导入-->
        <package name="com.nosuchteam.mapper"></package>
    </mappers>
</configuration>